<%- include("../partials/header"); %>
<div class="container meals">
    <table>
        <thead>
            <tr>
                <th>Shop</th>
                <th>Meal Name</th>
                <th>Price</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(meal=>{ %>
                <tr>
                    <td><%= meal.Shop.name %></td>
                    <td><%= meal.name %></td>
                    <td class="price"><%= meal.price %></td>
                    <td>
                        <% if(meal.type === "b"){ %>
                            Breakfast
                        <% }else if(meal.type === "d"){ %>
                            Dinner
                        <% }else{ %>
                            Midnight
                        <% } %>
                    </td>
                </tr>    
            <% }) %>
        </tbody>
    </table>
</div>
<%- include("../partials/footer"); %>