<%- include("../partials/header"); %>
<div class="container order-form">
    <form action="/orderform" method="GET" class="order-date">
        <input type="date" name="date">
        <input type="submit" value="Search">
    </form>
    <h1><%= targetDate %></h1>
    <div class="order-info">
        <div class="breakfast">
            <h3>早餐</h3>
            <div class="meals">
            <% orders.forEach(order=>{ %>
                <% if(order.meal.type === "b"){ %>        
                    <div class="meal">
                        <div><%= order.User.work_id %></div>
                        <div><%= order.meal.name %></div>
                    </div>
                <% } %>
            <% }) %>
            </div>
        </div>
        <div class="dinner">
            <h3>晚餐</h3>
            <div class="meals">
            <% orders.forEach(order=>{ %>
                <% if(order.meal.type === "d"){ %>        
                    <div class="meal">
                        <div><%= order.User.work_id %></div>
                        <div><%= order.meal.name %></div>
                    </div>
                <% } %>
            <% }) %>
            </div>
        </div>
        <div class="midnight">
            <h3>消夜</h3>
            <div class="meals">
            <% orders.forEach(order=>{ %>
                <% if(order.meal.type === "m"){ %>        
                    <div class="meal">
                        <div><%= order.User.work_id %></div>
                        <div><%= order.meal.name %></div>
                    </div>
                <% } %>
            <% }) %>
            </div>
        </div>
    </div>
</div>
<script src="/orderform.js"></script>
<%- include("../partials/footer"); %>