<%- include("./partials/header"); %>

<div class="container">
    <div class="date">
        <form action="/history" method="GET">
            <div class="history-block">
                <p><strong><%= i18n.__("FROM") %></strong></p>
                <input type="date" name="from" placeholder="EX: 2020/12/12">
            </div>
            <div class="history-block">
                <p><strong><%= i18n.__("TO") %></strong></p>
                <input type="date" name="to" placeholder="EX: 2020/12/12">
            </div>
            <div>
                <input type="submit" value="<%= i18n.__("SEARCH") %>">
            </div>
        </form>
    </div>
    <div class="history-data">
        <h2><%= targetDay %></h2>
        <div class="date-data head">
            <div class="date"><strong><%= i18n.__("ORDER_DATE") %></strong></div>
            <div class="name"><strong><%= i18n.__("ORDER_NAME") %></strong></div>
            <div class="type"><strong><%= i18n.__("ORDER_TYPE") %></strong></div>
            <div class="price"><strong><%= i18n.__("ORDER_PRICE") %></strong></div>
        </div>
        <% if(data.length > 0){ %>
            <div class="date-data">
            <% data.forEach(d => { %>
                <% d.meal.forEach(m => { %>
                    <div class="meal-date"><%= d.date %></div>
                    <div class="meal-name"><%= m.name %><%= m.en_name %></div>
                    <% if(m.type === "b"){ %>
                        <div class="meal-type"><%= i18n.__("BREAKFAST") %></div>
                    <% }else if(m.type === "d"){ %>
                        <div class="meal-type"><%= i18n.__("DINNER") %></div>
                    <% }else{ %>
                        <div class="meal-type"><%= i18n.__("MIDNIGHT") %></div>
                    <% } %>
                    <div class="meal-price"><%= m.price %></div> 
                <% }); %>
            <% }); %>
            </div>
        <% }else{ %>
            <h3 style="text-align: center; color: #ff4584;"><%= i18n.__("NO_DATA") %></h2>
        <% } %>
        <div class="total-price">
            <div><%= i18n.__("TOTAL") %></div>
            <div class="price" id="price">0</div>
        </div>
    </div>
</div>

<script src="/history.js"></script>
<%- include("./partials/footer"); %>