<%- include("./partials/header"); %>

<div class="container">
    <div class="date">
        <form action="/history" method="GET">
            <div class="history-block">
                <p><strong>From</strong></p>
                <input type="date" name="from">
            </div>
            <div class="history-block">
                <p><strong>To</strong></p>
                <input type="date" name="to">
            </div>
            <div>
                <input type="submit" value="Search">
            </div>
        </form>
    </div>
    <div class="history-data">
        <h2><%= targetDay %></h2>
        <div class="date-data head">
            <div class="date"><strong>Date</strong></div>
            <div class="name"><strong>Name</strong></div>
            <div class="price"><strong>Price</strong></div>
        </div>
        <% if(data.length > 0){ %>
            <% data.forEach(d => { %>
            <div class="date-data">
                <% d.meal.forEach(m => { %>
                    <div class="date"><%= d.date %></div>
                    <div class="name"><%= m.name %></div>
                    <div class="meal-price"><%= m.price %></div>
                <% }); %>
            </div>
            <% }); %>
        <% }else{ %>
            <div>Please Confirm Date Scoped</div>
        <% } %>
        <div class="total-price">
            <div>Total</div>
            <div class="price" id="price">0</div>
        </div>
    </div>
</div>

<script src="/history.js"></script>
<%- include("./partials/footer"); %>